
<p> Id: {{blog?.id}}</p>
<p> Title : {{blog?.title}}</p>
<p> Description: {{blog?.description}}</p>
<p> Author: {{blog?.author}} </p>
<p> Comments : {{blog?.comments}}</p>

<button style="margin-right: 5px;" class="btn btn-warning" >Edit</button>
  <button class="btn btn-danger" >Delete</button>

<!-- <p> Id: {{blog?.id}}</p>
 <table>
  <thead>
  <tr>
   <p> Id: {{blog?.id}}</p>
   <br/>
    Title
    <th>Description</th>
    <th>Author</th>
    <th>Comments</th>
  </tr>
</thead>
<tbody>
    <tr>
    <td>{{blog?.id}}</td>
    <td>{{blog?.title}}</td>
    <td>{{blog?.description}</td>
    <td>{{blog?.author}}</td>
    <td>{{blog?.comments}}</td>
    <td><button style="margin-right: 5px;" class="btn btn-warning" >Edit</button>
    <button class="btn btn-danger" >Delete</button></td>
  </tr>
</tbody>
 </table> -->
