.main{
  background-color: a2d2ff;
  margin: 10px auto 10px auto;
  max-width: 500px;
  padding: 10px;
}

.button{
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: white;
  border-style: none;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  width: 45px;
  height: 30px;
}
.text{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: xx-large;
  color: white;
  align-self: stretch;
  text-align: center;

}


