<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
<head>
<style>
ul {
  list-style-type: none;
  padding: 2px;
  overflow: hidden;
  background-color: rgb(116, 179, 210);

}

li {

  display: flex;
  padding: 8px;
}

</style>
</head>
<body>

  <ul >
    <li class="text" >Exercise 3 - Simple Crud</li>
    <li class="button" routerLink="profile">Profile</li>
    <li class="button" routerLink="blog">Blog</li>
    <li class="button" routerLink="book">Book</li>


  </ul>


</body>
</html>

<router-outlet></router-outlet>
